.terminalImage {
    max-width: 90px;
    max-height: 90px;
    position: absolute;
    left: 82%;
    top: 30%;
}

@media (max-width: 1000px) {
    
    .terminalImage {
        display: none;
    }
  }

  @media (max-width: 700px) {
    
   
  }