.keyboardImage {
    max-width: 90px;
    max-height: 90px;
    position: absolute;
    left: 10%;
    top: 30%;
}

@media (max-width: 1000px) {
    
    .keyboardImage {
        display: none;
    }
  }